[submodule "freeink-sdk"]
	path = freeink-sdk
	url = https://github.com/tomkortekaas/freeink-sdk.git
	branch = feat/x3-current-library-ui
[submodule "assets/tabler-icons"]
	path = assets/tabler-icons
	url = https://github.com/tabler/tabler-icons.git
