[submodule "freeink-sdk"]
	path = freeink-sdk
	url = https://github.com/tomkortekaas/freeink-sdk.git
	branch = x3-battery-latch
[submodule "assets/tabler-icons"]
	path = assets/tabler-icons
	url = https://github.com/tabler/tabler-icons.git
